body {
  margin: 0!important;
  overflow-x: hidden;
}

#carouselExampleIndicators {
  width: 100vw;
  margin-top: 20px;
  overflow: hidden;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.categories-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.categories-item:hover {
  transform: scale(1.1);
}

.categories-item span {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
  transition: ease 0.3s;
}

h1 {
  margin-top: 60px;
  text-align: center;
  color: #000033;
  font-size: 3rem;
  font-weight: bold;
}

.product-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.product-item {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  flex-basis: calc(20% - 20px);
}

.product-item img {
  width: 150px;
  height: 225px;
}

.product-item:hover {
  transform: scale(1.1);
}

.product-item span {
  width: 185px;
  text-align: center;
  font-weight: bold;
}

#btn-see-more {
  margin-top: 15px;
  width: 130px;
  border: solid 3px #000033;
  border-radius: 20px;
  background-color: #000033;
  color: #ffff;
  transition: ease 0.3s;
}

#btn-see-more:hover {
  color: #000033;
  background-color: #ffff;
  font-weight: 600;
  transform: scale(1.1);
}

#btn-buy-now {
  margin-top: 5px;
  width: 170px;
  border: solid 3px #000033;
  border-radius: 20px;
  font-weight: 600;
  background-color: #ffff;
  color: #000033;
  transition: ease 0.3s;
}

#btn-buy-now:hover {
  color: #ffff;
  background-color: #000033;
  transform: scale(1.1);
}

/* .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 60px;
  height: 60px;
}

.footer-logo span {
  color: #ffff;
  font-size: 1.3rem;
  margin-top: 5px;
}

.footer-information-container {
  z-index: 1;
  width: 75vw;
  display: flex;
  position: relative;
}

.footer-information-container ul {
  list-style: none;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffff;
}

.footer-information-container ul a {
  text-decoration: none;
  color: #ffff;
} */

/* .media-container {
  display: flex;
  width: 60%;
  justify-content: end;
}

.media-container img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.bar {
  position: absolute;
  margin-left: 20px;
  width: 100%;
  bottom: -10px;
  border-bottom: 2px solid yellow;
} */

@media screen and (max-width: 950px) {
  .categories-container {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
  }

  .categories-item {
      margin-bottom: 10px;
  }

  .categories-item span {
      font-size: 1em;
  }

  .product-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .product-item {
      flex-basis: calc(100% - 20px);
  }

  /* .footer-information-container ul {
      flex-direction: column;
      text-align: center;
  }

  .media-container {
      height: 15vh;
      margin-right: 4vw;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
  } */
}