inicio{
  display: flex;
  gap: 1em;
  flex-direction: column;
  margin-top: 2em;
}
.direcionamento{
  display: flex;
  align-items: center;
  gap: 1em;
}
.direcionamento a {
  color: #000;
}
.inicio h3{
  color: #003;
  font-weight: 400;
  font-size: 1.2em;
}
.resultado{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #003;
}

@media (max-width: 1070px) {
  .resultado h2{
      font-size: 1.2em;
  }
  .resultado h3{
      font-size: 0.8em;
  }
}